<div class="container">
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Yêu cầu đã được gửi và đang chờ quản trị phê duyệt</h5>
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đồng ý</button>
                </div>              
            </div>
        </div>
    </div>          
</div>  

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar  ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="" style="color: black; font-weight: bold;" href="Online_Auction.html">ONLINE AUCTION</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active "><a href="Online_Auction_Bidder.html" class="nav-link font-size">Home</a></li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle"  data-toggle="dropdown">Categories</a>           
                    <ul class="dropdown-menu" role="menu">
                        <li class="nav-item"><a href="/vwMobile_Bidder/Mobile_Bidder.hbs" class="dropdown-item " style="font-size: 14px;">Điện thoại di động</a></li>
                        <li class="nav-item"><a href="/vwLaptop_Bidder/Laptop_Bidder.hbs" class="dropdown-item "style="font-size: 14px;">Laptop</a></li>
                        <li class="nav-item"><a href="/vwHeadphone_Bidder/Headphone_Bidder.hbs" class="dropdown-item "style="font-size: 14px;">Tai nghe</a></li> 
                        <li class="nav-item"><a href="/vwWatch_Bidder/Watch_Bidder.hbs" class="dropdown-item "style="font-size: 14px;">Đồng hồ smart watch</a></li>             
                    </ul>
                </li>
                <li class="nav-item "><a class="nav-link font-size" data-toggle="modal" data-target="#myModal">Permission Seller</a></li>
                <li class="nav-item">
                    <a href="Information.html">
                        <div style="margin-top: 17px; border: none; font-size: 15px; ">
                            <img  src="https://www.juventud.gob.do/wp-content/uploads/2016/10/avatar-none-M-400x380.jpg" alt="" width="35" height="35">
                            <span style="color: #000">this.user.USERNAME</span>
                        </div>   
                    </a>                                  
                </li>
                <li class="nav-item">
                    <a href="Information.html">
                        <div style="margin-top: 17px; border: none; font-size: 15px; margin-left: 10px; ">
                            <img  src="http://2.bp.blogspot.com/-mxAwi5zynAA/VQVFqfKZqmI/AAAAAAAAL6o/9zqIKf8nY6k/s1600/Apps-Notifications-icon.png" alt="" width="35" height="35">  
                        </div>   
                    </a>                                  
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle"  data-toggle="dropdown"></a>            
                    <ul class="dropdown-menu" role="menu">
                        <li class="nav-item"><a href="/hbs/views/Online_Auction.hbs" class="dropdown-item " style="font-size: 14px;">Đăng xuất</a></li>
                    </ul>
                </li>                    
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->
	
<section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight" 
style="background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/B2b8RSzfgivu3v9nb/videoblocks-online-shopping-isometric-composition-animation-available-in-4k-uhd-fullhd-and-hd-3d-loopable-realistic-video-footage_h1xaoqkcg_thumbnail-full08.png');"
data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
        	    <p class="breadcrumbs">
                    <span class="mr-2">
                        <a href="/hbs/views/Online_Auction.hbs">Home<i class="ion-ios-arrow-forward"></i></a>
                    </span> 
                    <span>
                        {{this.categories.CAT_NAME}}<i class="ion-ios-arrow-forward"></i>
                    </span>
                </p>
                <h1 class="mb-3 bread">Chi tiết sản phẩm</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-property-details">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
      		    <div class="property-details">
      			    <div class="img" style="background-image: url(https://images-na.ssl-images-amazon.com/images/I/81mxun%2B6pEL._SL1500_.jpg);"></div>
      			    <div class="text text-center">
      				    <span class="subheading">{{this.categories.CAT_NAME}}</span>
      				    <h2>{{this.product.NAME}}</h2>
                        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#exampleModalCenter">Thêm vào danh sách yêu thích &#10084;</button>
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Sản phẩm đã được thêm vào danh sách yêu thích</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>  
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#exampleModal">Ra giá</button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Đủ điều kiện đấu giá</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="recipient-name " class="float-left col-form-label">Giá đưa ra:</label>
                                                <input type="text" class="form-control" id="recipient-name">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Từ chối</button>
                                        <button type="button" class="btn btn-primary">Chấp nhận</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-lg"  >Xem lịch sử đấu giá</button>
      			    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pills">
                <div class="bd-example bd-example-tabs">
					<div class="d-flex justify-content-center">
						<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Thông tin</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-manufacturer-tab" data-toggle="pill" href="#pills-manufacturer" role="tab" aria-controls="pills-manufacturer" aria-expanded="true">Mô tả chi tiết</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-image-tab" data-toggle="pill" href="#pills-image" role="tab" aria-controls="pills-image" aria-expanded="true">Hình ảnh</a>
                            </li>
						</ul>
					</div>
                </div>
            </div>
			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
					<div class="row">
						<div class="col-md-8 justify-content-center">
                            {{#each this.product}}
                            <ul class="features">
                                <li class="check"><span class="ion-ios-checkmark"></span>Tên sản phẩm: {{this.product.NAME}}</li>
                                <li class="check"><span class="ion-ios-checkmark"></span>Giá hiện tại: {{this.product.PRICE}}</li>
                                <li class="check"><span class="ion-ios-checkmark"></span>Người bán: ABC</li>
                                <li class="check"><span class="ion-ios-checkmark"></span>Người đặt giá cao nhất: XYZ</li>
                                <li class="check"><span class="ion-ios-checkmark"></span>Thời điểm đăng: 1/1/2019</li>
                                <li class="check"><span class="ion-ios-checkmark"></span>Thời điểm kết thúc: 1/3/2019</li>
                            </ul>
                            {{/each}}
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="pills-manufacturer" role="tabpanel" aria-labelledby="pills-manufacturer-tab">
                    <h5>Thông tin chi tiết:</h5>
                    {{#each this.product}}
                    <ul class="features">
                        <li class="check"><span class="ion-ios-checkmark"></span>{{this.product.DESCRIPTION}}</li>
                    </ul>
                    {{/each}}
                </div>
                <div class="tab-pane fade" id="pills-image" role="tabpanel" aria-labelledby="pills-image-tab">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/81mxun%2B6pEL._SL1500_.jpg" width="300px" height="400px">                                      
                        </div>
                        <div class="col-sm-3">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/71T333bUvWL._SL1500_.jpg" width="300px" height="400px">                                      
                        </div>
                        <div class="col-sm-3">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/71AI-BYAZTL._SL1500_.jpg" width="300px" height="400px">                                      
                        </div>
                        <div class="col-sm-3">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/811IwtT-XoL._SL1500_.jpg" width="300px" height="400px">                                      
                        </div>
                    </div>                         
                </div>
			</div>
        </div>
    </div>
</section>